{% extends 'adminhome.html' %}
{% load static %}
{% block body %}
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">ADD CATEGORIES</h6>
                <form action="{% url 'admincategories' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="categories" class="form-label">Categories</label>
                        <input type="text" class="form-control" id="name" name="categories">   
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Images</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
{% endblock %}