{% extends 'adminhome.html' %}
{% load static %}
{% block body %}
<h3 style="text-align: center;margin-top: 20px; color: blue; margin-top: 30px;">VIEW COMPLAINTS</h3>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-12">
          <div class="bg-light rounded h-100 p-4">
            {% for i in complaints %}
              <h4 class="mb-4">{{i.userid.email}}</h4>
              <h6 class="mb-4">{{i.date}}</h6>
              <div class="alert alert-primary" role="alert">
                  {{i.message}}
              </div>
              
              {% endfor %}
          </div>  
      </div> 
  </div>
</div>    
{% endblock %}