{% extends 'adminhome.html' %}
{% load static %}
{% block body %}
<h6 class="mb-4">VIEW USERS</h6>
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Phonenumber</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <th scope="row" style="padding-top: 70px;">{{i.email}}</th>
                    <td style="padding-top: 70px;">{{i.username}}</td>
                    <td style="padding-top: 70px;">{{i.password}}</td>
                    <td style="padding-top: 70px;">{{i.phonenumber}}</td>
                    <td style="padding-top: 70px;"><a href="{% url 'deleteusers' i.id %}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}