{% extends 'adminhome.html' %}
{% load static %}
{% block body %}
<!-- Table Start -->
<h2 style="text-align: center;color: blue;margin-top: 30px;">VIEW GENRES</h2>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">GENRES</th>
                                    <th scope="col">IMAGE</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in details %}
                                <tr>
                                    <td style="padding-top: 10%;">{{i.genre_name}}</td>
                                    <td><img src="{{i.images.url}}" alt="" width="200px" height="200px"></td>
                                    <td style="padding-top: 10%;"><a href="{% url 'delete' i.id %}"><button class="btn btn-danger">Delete</button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 
{% endblock %}